* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
body {color:#444;background:#bdbdbd;background-image:none;margin: 1%;}
.wrapper {margin: 0 auto;position: relative;float: none;}
label {display: block;}

#contact-form {
	text-shadow:0 1px 0 #FFF;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	background:#F9F9F9;
	padding:25px;
	margin-bottom: 10px;
}
#contact-form h3 {
	color:#254142;
	display:block;
	font-size:28px;
}
#contact-form h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
#contact-form label span {
	cursor:pointer;
	color:#254142;
	display:block;
	margin:5px 0;
	font-weight:900;
}
#contact-form label.btn.exWidth,
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="file"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	width:100%;
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
}
#contact-form label.btn.exWidth,
#contact-form input[type="text"]:hover,
#contact-form input[type="email"]:hover,
#contact-form input[type="file"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="url"]:hover,
#contact-form textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}
#contact-form textarea {height:100px;max-width:100%;}
#contact-form input:focus,
#contact-form textarea:focus {outline:0;border:1px solid #999;}

::-webkit-input-placeholder {color:#888;}
:-moz-placeholder {color:#888;}
::-moz-placeholder {color:#888;}
:-ms-input-placeholder {color:#888;}



/* specifiek */

#contact-form label.btn.exWidth {text-align: left;}
span.xLabel {
	color: #254142;
	display: block;
	margin: 5px 0;
	font-weight: 900;
}
.rightCol label {width: 100%;text-align: left;}
.leftCol label {width: 50%;text-align: left;}

.radio-btn{
	font-weight: 100;
}
.hide{
	display: none !important;
}



